#outputfield {
    border: 1px solid #c5c5c5;
    border-radius: 4px 4px 0 0;
    aspect-ratio: 5 / 3;
    width: 70%;
    margin: 2em auto;
    margin-bottom: 0;
    /* padding: 10px; */

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chatInputContainer {
    border: 1px solid #c5c5c5;
    border-radius: 0 0 4px 4px;
    width: 70%;
    margin: 2em auto;
    margin-top: 0;
    height: 5rem;

    display: flex;
}

#chatInput {
    width: 88%;
    /* height: 100%; */
    padding: 0.5rem;
    margin: 0.5rem 0rem 0.5rem 0.5rem;

    font-size: 1.5em;
    resize: none;
    box-sizing: border-box;
}

#chatSendButton {
    margin: auto;
}

.message {
    padding: 10px 8px;
    margin: 0.5em;
    background-color: aquamarine;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 3fr;
    align-items: center;
}

.message_audio_player {
    grid-column-start: 2;
}

.original {
    grid-row-start: 1;
    grid-column-start: 1;
}

.chat_response {
    grid-row-start: 1;
    grid-column-start: 1;
}

.translation {
    grid-row-start: 1;
    grid-column-start: 1;
    visibility: hidden;
}

.btn_translate {
    grid-column-start: 3;
    margin-left: 10px;
}

#input_group {
    display: flex;
}

#fileupload {
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#recording {
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.micBtn {
    border: 2px solid gray;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
}

.audioslider {
    margin-bottom: 20px;
    visibility: hidden;
    margin-top: auto;
}

#audio {
    margin-top: 20px;
    margin-left: 30px;
}

.lang_selector {
    margin-top: 1em;
    margin-bottom: 1.2em;
    height: 30px;
    width: 50px;
}






/* SPINNER */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    visibility: hidden;
    margin-top: auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #dfc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfc transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}